In [128]:
import pandas as pd

## 1. Đọc dữ liệu

In [129]:
df = pd.read_csv(
    r"H:\My Drive\Data_Time\processed\all_files_1min.csv")

In [130]:
# df = pd.read_csv(
#     r"H:\My Drive\Data_Time\processed\all_files_1min.csv",
#     sep=';',
#     low_memory=False,
#     na_values=['nan', '?']
# )

# df['dt'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], dayfirst=True)
# df.drop(['Date', 'Time'], axis=1, inplace=True)
# df.set_index('dt', inplace=True)

In [131]:
df.head(10)

,timestamp,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,source
0,2000-01-01 00:00:00,2.698593,0.163846,248.246651,4.612875,-6.045484,2.607299,6.112390,Dataset2
1,2000-01-01 00:01:00,3.054335,0.149002,247.051717,5.978933,-5.666725,3.525932,7.851912,Dataset2
2,2000-01-01 00:02:00,2.969842,0.146766,247.412248,6.570779,-4.277619,3.147624,9.969980,Dataset2
3,2000-01-01 00:03:00,2.683645,0.143748,246.887538,5.367677,-6.074105,1.641232,6.624781,Dataset2
4,2000-01-01 00:04:00,2.757864,0.120869,247.857831,3.108526,-6.138826,0.110919,5.334314,Dataset2
5,2000-01-01 00:05:00,3.110519,0.161491,247.845451,4.507634,-5.752880,3.290451,5.404573,Dataset2
6,2000-01-01 00:06:00,2.783434,0.129276,247.245426,6.203810,-4.036249,3.290105,9.712295,Dataset2
7,2000-01-01 00:07:00,2.567148,0.173518,248.267739,5.104327,-5.281387,1.862819,6.253866,Dataset2
8,2000-01-01 00:08:00,2.837074,0.165440,246.905763,5.444156,-6.033611,1.467633,6.442120,Dataset2
9,2000-01-01 00:09:00,2.607834,0.160459,247.747471,5.071271,-4.707101,1.807912,7.630089,Dataset2

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11234783 entries, 0 to 11234782
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   timestamp              object
 1   Global_active_power    float64
 2   Global_reactive_power  float64
 3   Voltage                float64
 4   Global_intensity       float64
 5   Sub_metering_1         float64
 6   Sub_metering_2         float64
 7   Sub_metering_3         float64
 8   source                 object
dtypes: float64(7), object(2)
memory usage: 771.4+ MB

In [133]:
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
print(df["timestamp"].head(10))
print("Số lượng NaT:", df["timestamp"].isna().sum())
print("Các giá trị bị NaT:")
print(df[df["timestamp"].isna()]["timestamp"])

0   2000-01-01 00:00:00
1   2000-01-01 00:01:00
2   2000-01-01 00:02:00
3   2000-01-01 00:03:00
4   2000-01-01 00:04:00
5   2000-01-01 00:05:00
6   2000-01-01 00:06:00
7   2000-01-01 00:07:00
8   2000-01-01 00:08:00
9   2000-01-01 00:09:00
Name: timestamp, dtype: datetime64[ns]
Số lượng NaT: 0
Các giá trị bị NaT:
Series([], Name: timestamp, dtype: datetime64[ns])

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11234783 entries, 0 to 11234782
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   timestamp              datetime64[ns]
 1   Global_active_power    float64
 2   Global_reactive_power  float64
 3   Voltage                float64
 4   Global_intensity       float64
 5   Sub_metering_1         float64
 6   Sub_metering_2         float64
 7   Sub_metering_3         float64
 8   source                 object
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 771.4+ MB

In [135]:
df = df.drop(columns=["source"])

In [136]:
df.isna().sum()

timestamp                0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [137]:
df

,timestamp,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2000-01-01 00:00:00,2.698593,0.163846,248.246651,4.612875,-6.045484,2.607299,6.112390
1,2000-01-01 00:01:00,3.054335,0.149002,247.051717,5.978933,-5.666725,3.525932,7.851912
2,2000-01-01 00:02:00,2.969842,0.146766,247.412248,6.570779,-4.277619,3.147624,9.969980
3,2000-01-01 00:03:00,2.683645,0.143748,246.887538,5.367677,-6.074105,1.641232,6.624781
4,2000-01-01 00:04:00,2.757864,0.120869,247.857831,3.108526,-6.138826,0.110919,5.334314
...,...,...,...,...,...,...,...,...
11234778,2021-05-11 21:37:00,3.055880,0.194715,246.846186,8.798260,-2.004065,4.207912,10.633841
11234779,2021-05-11 21:38:00,2.794122,0.160284,247.682498,4.918238,-6.865136,0.716643,5.172592
11234780,2021-05-11 21:39:00,3.073429,0.167186,246.941160,7.388097,-5.828456,2.820772,7.916459
11234781,2021-05-11 21:40:00,2.857983,0.146894,247.213895,5.045037,-7.233378,5.516271,5.939870
11234782,2021-05-11 21:41:00,2.575080,0.179132,247.537877,8.623200,-6.328115,2.479419,9.892542

In [138]:
import numpy as np
np.random.seed(42)
mask = np.random.rand(*df.shape) < 0.05
df[mask] = np.nan

## 4.4 Chuẩn hoá dữ liệu
Vì giá trị sản lượng điện không nên có giá trị âm, nên chuyển các giá trị âm về 0.

In [139]:
df[df.select_dtypes(include='number').columns] = df.select_dtypes(include='number').clip(lower=0)

In [144]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
timestamp,,,,,,,
2000-01-01 00:00:00,2.698593,0.163846,248.246651,4.612875,0.0,2.607299,6.112390
2000-01-01 00:01:00,3.054335,NaN,247.051717,5.978933,0.0,3.525932,7.851912
2000-01-01 00:02:00,2.969842,0.146766,247.412248,6.570779,0.0,3.147624,9.969980
2000-01-01 00:03:00,2.683645,0.143748,246.887538,5.367677,NaN,1.641232,6.624781
2000-01-01 00:04:00,2.757864,0.120869,247.857831,3.108526,0.0,0.110919,5.334314
...,...,...,...,...,...,...,...
2021-05-11 21:37:00,3.055880,0.194715,246.846186,8.798260,0.0,4.207912,10.633841
2021-05-11 21:38:00,2.794122,0.160284,247.682498,4.918238,NaN,0.716643,5.172592
2021-05-11 21:39:00,3.073429,0.167186,246.941160,7.388097,0.0,2.820772,7.916459
2021-05-11 21:40:00,2.857983,0.146894,247.213895,5.045037,0.0,5.516271,5.939870
2021-05-11 21:41:00,2.575080,0.179132,247.537877,8.623200,0.0,2.479419,9.892542

## 2 Xử lý giá trị thiếu bằng nội suy tuyến tính

In [ ]:
df.isna().sum()

In [148]:
if not isinstance(df.index, pd.DatetimeIndex):
    df = df.set_index('timestamp')
# Thay thế giá trị thiếu bằng giá trị cùng giờ của ngày hôm trước (dữ liệu 1 phút)
df.fillna(df.shift(24*60), inplace=True)
# Điền các giá trị còn lại
df.ffill(inplace=True)
df.bfill(inplace=True)

In [149]:
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [150]:
df.shape

(11234783, 7)

In [151]:
# df = df.iloc[:500000, :]
# from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
# import matplotlib.pyplot as plt

# fig, axes = plt.subplots(2, 1, figsize=(10, 6))
# plot_acf(df['Global_active_power'], lags=200, ax=axes[0])
# axes[0].set_title('Autocorrelation (ACF)')
# plot_pacf(df['Global_active_power'], lags=200, ax=axes[1])
# axes[1].set_title('Partial Autocorrelation (PACF)')

# # main title
# fig.suptitle('Global Active Power: ACF & PACF Analysis', fontsize=16)

# # adjust layout so suptitle isn’t cut off
# fig.tight_layout(rect=[0, 0.03, 1, 0.95])

# # save to file
# fig.savefig('acf_pacf_with_title.png', dpi=300, bbox_inches='tight')

# plt.show()

In [ ]:
import pandas as pd
import numpy as np
from pandas.tseries.holiday import USFederalHolidayCalendar

def preprocess_df(df: pd.DataFrame,
                  target_col: str = "Global_active_power",
                  dt_col: str = "timestamp") -> pd.DataFrame:
    """
    Tiền xử lý time series và sinh các feature:
      - Đặt dt_col thành DatetimeIndex, sort theo time
      - Fourier features: sin_hour, cos_hour, sin_dow, cos_dow
      - is_holiday (US Federal Holidays)
      - lag1, lag24, lag168
      - roll_mean_3h (mean trong 3 giờ)
      - Nội suy tuyến tính theo time, sau đó ffill + bfill để loại NaN
    """
    df_proc = df.copy()

    # --- Thiết lập index datetime ---
    if dt_col in df_proc.columns:
        df_proc[dt_col] = pd.to_datetime(df_proc[dt_col])
        df_proc.set_index(dt_col, inplace=True)
    else:
        df_proc.index = pd.to_datetime(df_proc.index)
    df_proc.sort_index(inplace=True)

    # --- Fourier (hour & day-of-week) ---
    df_proc['sin_hour'] = np.sin(2 * np.pi * df_proc.index.hour / 24)
    df_proc['cos_hour'] = np.cos(2 * np.pi * df_proc.index.hour / 24)
    df_proc['sin_dow']  = np.sin(2 * np.pi * df_proc.index.dayofweek / 7)
    df_proc['cos_dow']  = np.cos(2 * np.pi * df_proc.index.dayofweek / 7)

    # --- Holiday flag (US Federal) ---
    cal = USFederalHolidayCalendar()
    holidays_us = cal.holidays(start=df_proc.index.min(),
                               end=df_proc.index.max())
    df_proc['is_holiday'] = df_proc.index.normalize().isin(holidays_us).astype(int)

    # --- Lag features ---
    df_proc['lag1']   = df_proc[target_col].shift(1)
    df_proc['lag24']  = df_proc[target_col].shift(24*60)
    df_proc['lag168'] = df_proc[target_col].shift(168*60)

    # --- Rolling mean 3 giờ ---
    df_proc['roll_mean_3h'] = (
        df_proc[target_col]
          .rolling(window=3*60, min_periods=3*60)  # cần đủ 3 quan sát
          .mean()
    )

    # --- Điền forward-fill và back-fill cho các NaN còn lại ---
    df_proc.ffill(inplace=True)
    df_proc.bfill(inplace=True)

    return df_proc

In [153]:
df_new = preprocess_df(df, target_col="Global_active_power")

NotImplementedError: Interpolation with NaNs in the index has not been implemented. Try filling those NaNs before interpolating.

In [ ]:
df_new.head(10)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,sin_hour,cos_hour,sin_dow,cos_dow,is_holiday,lag1,lag24,lag168,roll_mean_3h
timestamp,,,,,,,,,,,,,,,,
2000-01-01 00:00:00,2.698593,0.163846,248.246651,4.612875,-6.045484,2.607299,6.112390,0.0,1.0,-0.974928,-0.222521,0,2.698593,2.698593,2.698593,2.907590
2000-01-01 00:01:00,3.054335,0.149002,247.051717,5.978933,-5.666725,3.525932,7.851912,0.0,1.0,-0.974928,-0.222521,0,2.698593,2.698593,2.698593,2.907590
2000-01-01 00:02:00,2.969842,0.146766,247.412248,6.570779,-4.277619,3.147624,9.969980,0.0,1.0,-0.974928,-0.222521,0,3.054335,2.698593,2.698593,2.907590
2000-01-01 00:03:00,2.683645,0.143748,246.887538,5.367677,-6.074105,1.641232,6.624781,0.0,1.0,-0.974928,-0.222521,0,2.969842,2.698593,2.698593,2.902607
2000-01-01 00:04:00,2.757864,0.120869,247.857831,3.108526,-6.138826,0.110919,5.334314,0.0,1.0,-0.974928,-0.222521,0,2.683645,2.698593,2.698593,2.803783
2000-01-01 00:05:00,3.110519,0.161491,247.845451,4.507634,-5.752880,3.290451,5.404573,0.0,1.0,-0.974928,-0.222521,0,2.757864,2.698593,2.698593,2.850676
2000-01-01 00:06:00,2.783434,0.129276,247.245426,6.203810,-4.036249,3.290105,9.712295,0.0,1.0,-0.974928,-0.222521,0,3.110519,2.698593,2.698593,2.883939
2000-01-01 00:07:00,2.567148,0.173518,248.267739,5.104327,-5.281387,1.862819,6.253866,0.0,1.0,-0.974928,-0.222521,0,2.783434,2.698593,2.698593,2.820367
2000-01-01 00:08:00,2.837074,0.165440,246.905763,5.444156,-6.033611,1.467633,6.442120,0.0,1.0,-0.974928,-0.222521,0,2.567148,2.698593,2.698593,2.729219
2000-01-01 00:09:00,2.607834,0.160459,247.747471,5.071271,-4.707101,1.807912,7.630089,0.0,1.0,-0.974928,-0.222521,0,2.837074,2.698593,2.698593,2.670685

In [ ]:
df_new.shape

(11234783, 16)

In [ ]:
df_new.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
sin_hour                 0
cos_hour                 0
sin_dow                  0
cos_dow                  0
is_holiday               0
lag1                     0
lag24                    0
lag168                   0
roll_mean_3h             0
dtype: int64

In [ ]:
df_new.to_csv(r'H:\My Drive\Data_Time\clean.csv', index=True)

KeyboardInterrupt: